<div class="row">
    <h1>{{member.displayName}} profilja</h1>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.displayName}}" class="card-img-tip img-thumbnail">
            <div class="card-body">
                <div *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.loginName)">
                    <i class="class fa fa-user-circle" style="color:darkgreen">Elérhető</i>
                </div>
                <div>
                    <strong>Elhelyezkedés:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Életkor:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Utoljára elérhető:</strong>
                    <p><app-time-ago-p [displayDate]="member.lastActive"></app-time-ago-p></p>
                </div>
                <div>
                    <strong>Tagság kezdete:</strong>
                    <p>{{member.created | date:'yyyy/MM/dd'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addLike(member)">Kedvelem!</button>
                    <button class="btn btn-success" (click)="activateTab('Üzenetek')">Üzenetet küldök!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="{{member.displayName}} részletei" (selectTab)="onTabActivation($event)">
                <br />
                <h4>Magamról</h4>
                <p>{{member.introduction}}</p>
                <h4>Ezt keresem</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Ezután érdeklődöm" (selectTab)="onTabActivation($event)">
                <br />
                <h4>Érdeklődési körök:</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Képeim" (selectTab)="onTabActivation($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" [ngStyle]="{ display: 'inline-block' }"></ngx-gallery>
            </tab>
            <tab heading="Üzenetek" (selectTab)="onTabActivation($event)">
                <br />
                <app-member-messages [loginName]="member.loginName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
